
h1 
{font-family: Helvetica, sans-serif;
	text-align: center;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.container { width:100%; }

p {
	font-family: Helvetica, sans-serif;
	margin-left: 5px;
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 15px;
    }

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	}

.header1 {
	background-color: #99FF99;
	font-family: Helvetica, sans-serif;
     border: solid black;
     border-width: 1px;
     width:80px;
     text-align: center;
     float:right;
     margin-top: 0px;}
	

.header2 {
	background-color: #BBDEFB;
	font-family: Helvetica, sans-serif;
     border: solid black;
     border-width: 1px;
     width:80px;
     text-align: center;
     float:right;
     margin-top: 0px;}
	

.header3 {background-color: #FFD180;
	     font-family: Helvetica, sans-serif;
         border: solid black;
         border-width: 1px;
         width:80px;
         text-align: center;
         float:right;
         margin-top: 0px;}



.content { align:auto; border-width: 1px;}

.column1of3 {
    width:100;
    float:left;
	margin: 10px;
	border: solid black;
    border-width: 1px;
	font-family: Helvetica, sans-serif;
	background-color: #DCEDC8;
}

.column2of3 {
    width: 100%;
    float: left;
	margin-top: 10px;
	border: solid black;
    border-width: 1px;
	font-family: Helvetica, sans-serif;
	background-color: #DCEDC8;}

.column3of3 {
    width: 100%;
    float: left;
	margin:10px;
    border: solid black;
    border-width: 1px;
	font-family: Helvetica, sans-serif;
	background-color: #DCEDC8;}

/* **********smaller devices *******/

@media screen and (max-width: 767px){
    .content: {width: 100%; 
   
	
	}
	.column1of3 {
		width: 97%; 
	}
	
	.column2of3 {
		width:97%; margin-left:10px;
	}
	.column3of3 {
		width: 97%; margin-top:20px;
	}
}

/****** tablet *****/
@media screen and  (min-width: 768px) and (max-width: 991px){
   .content:{width:100%;}

	.column1of3 {
		width: 47%; 
	}
	
	.column2of3 {
		width:47%;
		margin-left:25px;
	}
	.column3of3 {
		width: 98%;
	
	}
}

/**********desktop *******/


@media screen and (min-width: 992px) { 
	.content: {width: 100%; } 
	
	.column1of3 {
		width: 31%; float:left;

		

	}
	.column2of3 {
		width:31%; float:left;  margin-top:10px; margin-left:20px;
	
		
	}
	.column3of3 {
		width: 31%; float: right;
		
	
	}
}


